*.pro.user
*.pro.user.*
build/
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.so
*.dylib
*.pdb
*.idb
*.ilk
*.suo
*.sdf
*.opensdf
*.vcxproj.user
*.qbs
*.qbs.user
*.qbs.user.*
Makefile
Makefile.Debug
Makefile.Release
*.qm
.DS_Store
Thumbs.db
*.db
*.csv
