# 构建产物
release/
debug/
build/
*.o
*.obj
*.exe

# Qt 生成文件
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
.qmake.stash
.qmake.conf

# Qt Creator 用户配置
*.pro.user
*.pro.user.*

# 数据库文件
*.db

# 日志
logs/

# 临时文件
*.autosave
*.tmp
*.rc
